// # Style Guide

// LAYOUT
$device-mobile: 320px; // - Mobile: 320px - 424px
$device-tablet: 425px; // - Tablet: 425px - 767px
$device-laptop: 768px; // - Laptop: 768px - 1023px
$device-desktop: 1024px; // - Desktop: 1024px <

@mixin media($min-width) {
  @media screen and (min-width: $min-width) {
    @content;
  }
}

// COLORS
// Colors Primary
$color-primary-Gray: #eeeeee;
$color-primary-Dark-Gray: #222831;
$color-primary-Green-Pale: #4f8a8b;
$color-primary-Yellow-Pale: #ffcb3d;

// Colors Neutral
$color-neutral-stone-600: #57534e;
$color-neutral-stone-300: #d6d3d1;
$color-neutral-stone-200: #e7e5e4;
$color-neutral-stone-100: #f5f5f4;
$color-neutral-stone-50: #fafaf9;
$color-neutral-White: #fff;

// TYPOGRAPHY
// Typography Size
$font-weight-light: 300;
$font-weight-medium: 400;
$font-weight-bold: 700;

// Typography Font
@mixin font(
  $size: 1rem,
  $weight: $font-weight-medium,
  $color: $color-primary-Dark-Gray
) {
  font-size: $size;
  font-weight: $weight;
  color: $color;
}

// ## Utilities
@mixin reset {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@mixin center {
  justify-content: center;
  align-items: center;
}

@mixin flex(
  $flex-direction: row,
  $justify-content: center,
  $align-items: center,
  $gap: 0
) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
  gap: $gap;
}
