.l-header {
  @include reset;
  @include flex(column, center, center, 0);
  position: sticky;
  top: 0;
  width: 100%;
  min-width: 305px;
  height: auto;
  background-color: $color-neutral-stone-50;
  border-bottom: 1px solid $color-neutral-stone-200;
}

.header__wrapper {
  @include reset;
  @include flex(column, space-between, center, 1rem);
  width: 100%;
  max-width: 1110px;
  height: 100%;
  padding: 1rem;
}

.logo {
  @include reset;
  width: auto;
  height: 2rem;
  padding: 0 1rem 0 0;
}

.nav {
  @include reset;
  width: 100%;

  &__list {
    @include reset;
    @include flex(row, center, center, 2rem);
  }
  &__item {
    @include reset;
    list-style-type: none;
    text-align: center;
    height: 1rem;
  }
  &__link {
    @include reset;
    @include font(1rem, $font-weight-medium, $color-neutral-stone-600);
    text-decoration: none;
    line-height: 1rem;

    &:hover {
      color: $color-neutral-stone-800;
      padding-bottom: calc(1rem - 6px);
      border-bottom: 4px solid $color-primary;
    }
    &:active {
      color: darken($color-primary, 20%);
    }
  }
}

@include media(650px) {
  .header {
    &__wrapper {
      @include flex(row, space-between, center, 2rem);
      padding: 1rem 2rem 1rem 1rem;
    }
  }
  .logo {
    padding: 0;
  }
  .nav {
    &__list {
      @include flex(row, right, center, 2rem);
    }
    &__link {
      &:hover {
        padding-bottom: calc(1.5rem - 6px);
      }
    }
  }
}
